doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='UTF-8')
  body
    header
      nav
        ul
          li#logo: a(href='/') TODOリスト
          li.func: a(href='/search') 検索
    block content
    block scripts