extends header

block content
  div.content
    h1= title
    p Welcome to #{title}
    p 新しいToDoリストを作成する
    input(id='newListName', type='text', placeholder='リスト名を入力してください', size=30)
    input(id='createListButton', type='button', value='リストの作成')
    p#topMessage
    div#lists

// jQueryとtodo.jsを読み込む
block scripts
  script(src='http://code.jquery.com/jquery-2.0.0.min.js')
  script(src='javascripts/todo.js')