body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
/*  color: #00B7FF;*/
}

header {
  height: 60px;
  border-style: solid;
  border-width: thin;
  background-color: darkgray;
}

ul {
  padding-left: 10px;
  padding-right: 10px;
}

li {
  display: inline-flex;
}

#logo {
  color: black;
  font-size: 30px;
  float: left;
}

.func {
  color: #00B7FF;
  float: right;
  line-height: 30px;
}

.content {
  clear: both;
}