body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.todoListName {
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

header {
  height: 60px;
  border-style: solid;
  border-width: thin;
  border-color: darkgray;
  background-color: lightgray;
}

ul {
  padding-left: 10px;
  padding-right: 10px;
}

#logo {
  color: black;
  font-size: 30px;
  float: left;
  display: inline-flex;
}

.func {
  color: #00B7FF;
  float: right;
  line-height: 30px;
  display: inline-flex;
}

.content {
  clear: both;
}

.panel {
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  box-shadow: 3px 3px lightgray;
}

.inputPanel {
  border-style: solid;
  border-width: thin;
  border-color: lightgray;
  height: 100px;
  padding: 10px;
}